extends layout 
 
block content 
  h1= title 
 
  - let Studentid = toShow._id 
  - let Name = toShow.Name 
  - let Age = toShow.Age 
  - let Address = toShow.Address
  div 
    div.row 
      div(class='StudentAttr mr-3') Student ID is: 
      div #{Studentid} 
    div.row 
      div(class='StudentAttr mr-3') Student Name is: 
      div #{Name} 
    div.row 
      div(class='StudentAttr mr-3') Student Age is: 
      div #{Age} 
    div.row 
      div(class='StudentAttr mr-3') Student Address is: 
      div #{Address}