extends layout 

block content 
    h1= title
    div.container-fluid
        - let destination1 = `dispatch(\"/resource/create")`
        button.btn( class="btn-success ml-1", onclick= destination1) Create
        div(class ="row m-1")
            each item, index in results
                - let destination2 = `dispatch(\"/resource/delete?id=${item._id}\")`
                - let destination3 = `dispatch(\"/resource/detail?id=${item._id}\")`
                - let destination = `dispatch(\"/resource/update?id=${item._id}\")`
                div.col-sm-2(onclick=`buy(${index})`) #{item["Name"]}, #{item["Age"]}, #{item["Address"]}
                    br
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
                    br
                    button.btn( class="btn-warning ml-1", onclick= destination2) Delete
                    br
                    button.btn( class="btn-danger ml-1", onclick= destination3) Detail

    script. 
        function dispatch(path) {
            window.location.href=path
        }