extends layout 

block content 
    h1= title
    div.container-fluid
        div(class ="row m-1")
            each item, index in results
                - let destination = `dispatch(\"/resource/update?id=${item._id}\")`
                div.col-sm-2(onclick=`buy(${index})`) #{item["Name"]}, #{item["Age"]}, #{item["Address"]}
                    br
                    button.btn( class="btn-primary ml-1", onclick= destination) Update

    script. 
        function dispatch(path) {
            window.location.href=path
        }